.DS_Store
inc/dbconfig.php
inc/dompdf/*
inc/swiftmailer/*
news/*
!news/wp-content/
news/wp-content/*
!news/wp-content/themes/
news/wp-content/themes/*
!news/wp-content/themes/parksedge/
news/wp-content/themes/parksedge/.DS_Store
pdf/newsletters
pdf/lessonplans
inc/recaptchalib.php
