.content {
  padding: 3em 0;
}

A:link, A:visited {
  color: #4FC3F1;
  text-decoration: none;
}

A:hover, A:active {
  color: #112C37;
  text-decoration: none;
}

TEXTAREA {
  height: 7.5em;
  margin-top: 0;
}

#submit:disabled {
  background: #CCCCCC;
  color: #AAAAAA;
  cursor: default;
}

/*.menu th.ui-datepicker-week-end,
.menu td.ui-datepicker-week-end {
  display: none;
}*/

.cal {
  width: 100%;
  border-collapse: collapse;
}

.cal TD {
  border: 1px solid #1A404F;
  width: 20%;
  padding: 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  line-height: 1.3em;
  font-size: 14px;
}

.cal.cal-head,
.cal .cal-head TD {
  border: 0;
  text-align: center;
  color: #1A404F !important;
  font-weight: bold;
  font-size: 20px;
}

.cal .cal-nav-l,
.cal .cal-nav-r {
  float: left;
  margin-bottom: 0.2em;
  font-weight: 600;
  font-size: 85%;
}
 
.cal .cal-nav-r {
  float: right;
}

.cal .weekdays TD {
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  background: #1A404F;
  font-size: 16px;
}

.cal TD.cal-day {
  height: 174px;
  text-align: center;
  position: relative;
}

.cal TD.cal-day .cal-date {
  color: #1A404F;
  font-size: 16px;
  line-height: 1em;
  text-align: left;
  padding-bottom: 0.5em;
}

.cal TD.cal-day STRONG {
  color: #4FC3F1;
  text-decoration: underline;
}

.cal TD.cal-day .controls {
  position: absolute;
  top: 0.4em;
  right: 0.75em;
  text-align: right;
  font-size: 18px;
}

A.c-edit:link, A.c-edit:visited {
  color: #F9BF2C;
  margin-right: 0.3em;
}

A.c-delete:link, A.c-delete:visited {
  color: #6A6B6E;
}

A.c-edit:hover, A.c-edit:active,
A.c-delete:hover, A.c-delete:active {
  color: #1A404F;
}

.cal TD.blank-start,
.cal TD.blank-end {
  border-left: 0;
  border-right: 0;
}

.cal TD.blank-start:first-child,
.cal TD.blank-start:nth-of-type(2),
.cal TD.blank-end:nth-of-type(2) {
  border-left: 1px solid #1A404F;
}

.cal TD.blank-end:last-child,
.cal TD.blank-end:nth-of-type(6),
.cal TD.blank-start:nth-of-type(6) {
  border-right: 1px solid #1A404F;
}

.cal TD:first-child,
.cal TD:last-child,
.cal TD.blank-start:first-child,
.cal TD.blank-end:last-child {
  display: none;
}

.cal-list {
  width: 38%;
  float: right;
  line-height: 1.4em;
}

.cal-list .cal.cal-head {
  padding-bottom: 1em;
}

.cal-list .controls {
  font-size: 18px;
}

.cal-list .controls A {
  margin-right: 0.6em;
}

.edit-cal FORM {
  width: 50%;
  margin: 0 auto;
}
